---
layout: default
---
<!-- about.html -->

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    #academiccontainer {
      width: 100%;
      display: block;
    
    }


    @media (min-width:500px){
      .bioword1 {
        float:left;
      }
      .bioword2 {
        float:right;
      }
    }
    


    @media (max-width:500px)  {
    .bioword1 {
      float:top !important;
    }
    .bioword2 {
      float:bottom !important;
    }
  }
 
  </style>
  

</head>



      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

    <article>
    {% if page.profile %}
      <div class="profile profile-wrapper float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 40 | times: 0.3}}px, (min-width: 576px)
      20vw, 80vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          {% comment %} <div class="more-info">{{ page.profile.more_info }}</div> {% endcomment %}
          {% if page.social %}
             <div class="social under-photo">
              <div class="contact-icons">{% include social.liquid %}</div>
            </div>
     {% endif %}

        {% endif %}
      </div>
    {% endif %}

          <div class="clearfix">
            {{ content }}
          </div>
          <hr>


          <div id = "academiccontainer">
            <p style="font-size: 25px; font-weight:bold">Academic Positions</p>
            
            <div class = "bioword1" style="font-weight:bold">Yale University, School of Management</div>
            <div class = "bioword2">New Haven, CT</div>
            <br>
            <div class ="bioword1">Assistant Professor of Marketing</div>
            <div class="bioword2">2023 - present</div>
            <br> <br>
    
            <div class = "bioword1" style="font-weight:bold">University of Iowa, Tippie College of Business</div>
            <div class = "bioword2">Iowa City, IA</div><br>
            <div class = "bioword1"> Assistant Professor of Business Analytics</div>
            <div class = "bioword2">2016 - 2023</div><br>
            <div class = "bioword1" style="font-style: italic;">(Promotion and Tenure Granted in 2023)</div>
            <br><hr>
          </div>          

          <div id = "academiccontainer">
            <p style="font-size: 25px; font-weight:bold">Education</p>
            
              <div class = "bioword1" style="font-weight:bold">Massachusetts Institute of Technology</div>
              <div class="bioword2">Cambridge, MA</div>
            <br>
              <div class = "bioword1">Ph.D. in Computer Science</div>
              <div class="bioword2">2012 - 2016</div>
            <br>
              <div class="bioword1">M.S. in Electrical Engineering and Computer Science</div>
              <div class="bioword2">2010 - 2012</div>
             {% comment %} <br><br>

             <div class="bioword1" style="font-weight:bold">Beijing University of Posts and Telecommunications</div>
              <div class="bioword2">Beijing, China</div>
              <br>
              <div class="bioword1">B.S. in Electrical Engineering with <span style="font-style: italic;">Highest Distinction</span></div>
              <div class="bioword2">2006 - 2010</div> {% endcomment %}
            <br><hr>
          </div>  

          <br>

      
          <!-- News -->
          {% if page.announcements and page.announcements.enabled  -%}
            <p style="font-size: 25px; font-weight:bold;"> <a href="{{ '/news/' | relative_url }}" style="color: inherit;">Recent News</a></p> 
              {% include news.liquid limit=true %}
          {%- endif %}

          

   
          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}
{% comment %} 
        {% if page.social %}
          <div class="social">
            <div class="contact-icons">{% include social.liquid %}</div>

            <div class="contact-note">{{ site.contact_note }}</div>
          </div>
        {% endif %} {% endcomment %}
        </article>

</div>
